/* Frumstök */

html {
  background: #222;
}

footer {
  background: #ddd;
}

.leitarinput {
  background-color: #fff;
}

/* Flokkar */

.form-wrapper input {
  background-color: #fff;
}

.grein {
  background: #ddd;
}

.hella {
  background: #ddd;
}

.merki {
  color: #ddd;
}

.social {
  fill: #ddd;
}

.soc-icon, .soc-icon:visited {
  color: #ddd;
}

#idk {
  background: #ddd;
}

#menutoggle {
  background: #ddd;
}

#mainstika {
    background: #222;
}
#mainstika li a {
    color: #ddd;
}
#darklightmodebutton {
    background: #222;
    color: #ddd;
}
#mainstika li a:hover {
    color: #fff;
}
#darklightmodebutton:hover {
    color: #fff;
}

#haus {
  background: #ddd;
}
