html {
  height: 100%;
  background: #222;
  margin: 0;
  font-family: 'Work Sans', 'Helvetica-Neue', sans-serif;
}

body {
  min-height: 100%;
}

footer {
  grid-area: footer;
  margin-top: 10px;
  border-top: 4px #c00 solid;
}

small {
  font-family: 'Work Sans', 'Helvetica-Neue', sans-serif;
}

figcaption {
  text-align: center;
  color: #222;
  font-size: 16px;
  margin-bottom: 5px;
}

p {
    font-size: 1.25rem;
}

h1 {
  font: 900 3rem 'Playfair Display', serif;
  color: #c00;
  float: left;
  margin-top: 0.8rem;
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

h2 {
  margin: 0;
  font: 2.5rem 'Work Sans', 'Helvetica-Neue', sans-serif;
}

h3 {
  font: 1.6rem 'Work Sans', 'Helvetica-Neue', sans-serif;
}

h4 {
  font: 600 1.3rem 'Work Sans', 'Helvetica-Neue', sans-serif;
}

a {
  text-decoration: none;
  color: #07f;
}

a:visited {
  color: #f49;
}

main {
  grid-area: main;
  padding-left: 1rem;
  padding-right: 1rem;
  filter: none;
  min-width: 0;
}

article {
  word-wrap: normal;
}

article::after {
  content: "";
  clear: both;
  display: table;
}

aside {
  grid-area: sidebar;
  padding-left: 1rem;
  padding-right: 1rem;
}

blockquote {
  margin: 10px 0px 10px 30px;
  padding-left: 5px;
  border-left: 5px solid #999;
  width: auto;
}

/* Flokkar */

.sidebar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  max-width: 932px;
  margin:auto;
}

.result {
  border-top: 1px solid #222;
  padding-top: 1rem;
  position: relative;
  max-width: 900px;
  margin-bottom: 1rem;
}

.result p {
  margin-top: 10px;
  margin-bottom: 0;
}

.result h3 {
  color: #c00;
  margin: 0;
}

.result img {
  height: auto;
  width: 33.3%;
}

.fullur-hlekkur {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.leit {
  position: relative;
  font-size: 1rem;
  height: 2rem;
  min-width: 5em;
  max-width: 15em;
  display: inline-block;
}

.leitarinput {
  border: 1px solid;
  transition: border 0.2s, box-shadow 0.2s;
  padding: 5px 2.1rem 5px 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.leitarinput:focus, .leitarinput.focus {
  border-color: #c00;
  box-shadow: inset 0 0 0 1px #c00,inset 0 0 0 2px #ddd;
}

.leitarhnappur {
  background: no-repeat center / 1rem url(/static/assets/search.svg);
  border: none;
  cursor: pointer;
  position: absolute;
  padding-right: 1.6rem;
  top: 1px;
  right: 1px;
  bottom: 1px;
}

::placeholder {
  color: #666;
}

.toggle {
  margin-top: 10px;
  height: min-content;
}

.top-matter {
  display: flex;
  flex-flow: row;
  min-width: 100%;
  justify-content: space-around;
}

.form-wrapper {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 10px;
  align-items: last baseline;
  text-align: right;
  margin-bottom: 1rem;
}

.form-wrapper input {
  width: min-content;
  border: 1px solid;
  transition: border 0.2s, box-shadow 0.2s;
  padding: 5px;
  box-sizing: border-box;
}

.form-wrapper input:focus, .form-wrapper input.focus {
  border-color: #c00;
  box-shadow: inset 0 0 0 1px #c00,inset 0 0 0 2px #ddd;
}

.grein {
  padding: 1rem;
  text-align: justify;
  hyphens: auto;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 900px;
}

.info {
  font: italic 1rem Work, sans-serif;
  margin-top:0;
  margin-bottom: 2rem;
}

.left {
  float: left;
  width: 100%;
  margin: 0;
}

.left img {
  width: 100%;
  height: auto;
}

.footmatter {
  margin: auto;
  height: 100%;
  display: flex;
  max-width: 1200px;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
}

.footmatter>* {
  margin: 5px;
}

.right {
  float: right;
  max-width: 100%;
  margin: 0;
}

.right img {
  width: 100%;
  height: auto;
}

.fa-search {
  float: right;
  margin: auto;
  font-size: 2rem;
}

.full img {
  width: 100%;
  height: auto;
}

.mid {
  width: 100%;
  height: auto;
  margin: auto;
}

.mid img {
  width: 100%;
  height: auto;
}

.rich-text>ul, .rich-text>ol {
  margin-left: 2em;
}

.mid * {
  text-align: center;
}

.hella {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  max-height: 550px;
}

.hella img {
  width: 100%;
  height: auto;
}

.hella h2, .hella h3 {
  color: #c00;
}

.hella p, .hella h2, .hella h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0.5rem;
}

.toggle {
  font-size: 3rem;
}

.link-under-heading {
  position: absolute;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.idk-mynd {
  float:left;
  margin-right:1rem;
  margin-bottom:1rem;
}

.tags h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.merki {
  border: none;
  padding: 5px;
  color: #c00;
  cursor: pointer;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
}

.helluvefja {
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
  padding: 1rem;
}

.grid-wrapper {
  display: grid;
  grid-template-rows: 70px 1fr auto 100px;
  grid-template-areas: "header"
                       "main"
                       "sidebar"
                       "footer";
  margin: 0;
}

.titill, .titill:visited {
  color: #c00;
}

.social {
  clear: both;
}

.soc-heading {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.soc-icon, .soc-icon:visited {
  background: #c00;
  border-radius: 50%;
  display: inline-block;
  height: 1.85rem;
  width: 1.85rem;
  margin-right: 1rem;
}


/* einstök stök*/

#idk {
  display: block;
  margin: 0 5px 0;
  padding: 1rem;
  max-width: 900px;
}

#idk h2 {
  margin-bottom: 1rem;
}

#mainstika {
  list-style: none;
  position: fixed;
  display: none;
  top: 70px;
  width: 320px;
  height: 100vh;
  border-right: solid 4px #c00;
  z-index:1;
  background: #fff;
}

#mainstika li {
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding: 10px;
  width: 80%;
  font: 900 1.5rem 'Work Sans', 'Helvetica-Neue', sans-serif;
  border-bottom: 2px solid #c00;
}

#mainstika ul {
  flex-direction: column;
  align-items: center;
}

#mainstika li a {
  color: #c00;
  text-align: center;
  text-decoration: none;
}

#mainstika li a:hover {
  color: #f33;
}

#menutoggle {
  float: right;
  border: none;
  color: #c00;
  font-size: 4rem;
  margin-top: 0.5rem;
}

#darklightmodebutton {
    border: none;
    background: #fff;
    color: #c00;
    font: 900 1.5rem 'Work Sans', 'Helvetica-Neue', sans-serif;
}

#darklightmodebutton:hover {
    color: #f33;
}

#en {
  float: right;
  margin-right: 1rem;
}

#nic-cage-mode {
  display: none;
}

#nic-cage-mode:checked~*, #nic-cage-mode:checked~* * {
  background: url(../assets/nic-cage-mode.jpg) repeat;
}

#idk h2 {
  color: #c00;
}

#haus {
  grid-area: header;
  display: flex;
  border-bottom: 4px #c00 solid;
  top: 0;
  position: sticky;
  z-index: 2147483647;
}

#haus-stika {
  display: none;
}

#idk address {
  font-style: normal;
  display: grid;
  grid-template-columns: 2rem 1fr;
  float: left;
  margin-right: 1rem;
}

#idk address p {
  margin: 0 auto 5px;
}

#idk p {
  margin-top: 0;
}

@media (min-width: 650px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr auto 100px;
    grid-template-areas: "header" "main" "sidebar" "footer";
  }
  .helluvefja {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-gap: 20px;
    grid-auto-flow: dense;
  }
  .brennidepill.hella {
    grid-column: 1 / span 2;
  }
  .hella {
    margin: 0;
    width: 100%;
  }
  .logo-mynd {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .logo-mynd {
    display: none;
  }
  .top-matter {
      justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
    .top-matter {
        min-width: 0;
    }
  .helluvefja {
    grid-template-columns: repeat(3, minmax(0,1fr));
  }
  .grid-wrapper {
    grid-template-columns: 120px 120px 1fr 1fr 160px 160px;
    grid-template-rows: 70px 1fr auto 100px;
    grid-template-areas:
      "header header header header header header"
      ". . main main . ."
      ". . sidebar sidebar . ."
      "footer footer footer footer footer footer";
  }
  .left, .right {
    max-width: 40%;
  }
  .left {
    margin-right: 1.5rem;
  }
  .right{
    margin-left: 1.5rem;
  }
  .mid {
    max-width: 80%;
  }
  .menu-link-red, .menu-link-red:visited {
    color: #c00;
  }
  #haus-stika {
    display: flex;
  }
  #haus-stika ul {
    list-style: none;
    margin-top: 20px;
  }
  #haus-stika li {
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    font: 900 1.5rem 'Work Sans', 'Helvetica-Neue', sans-serif;
  }
  #haus-stika a:hover {
    color: #f33;
  }
  #haus {
		flex-flow: row;
    justify-content: space-around;
	}
  #haus {
		flex-flow: row;
    justify-content: space-around;
	}
}
