{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<main role="main">
<article class="grein">

<form class="leit" action="{% url 'search' %}" method="get" style="min-width: 100%;">
    <input class="leitarinput" style="min-width: 100%;" type="text" name="query" id="search" placeholder="Sláðu inn leitarorð..." value="{{ search_query }}"/>
    <button class="leitarhnappur" type="submit"><i class="fas fa-search fa-sm"></i></button>
</form>
<h2>Leitarniðurstöður:</h2>

    {% if search_results %}
      {% for result in search_results %}
        <article class="result">
          {% if result.specific.thumbnail %}
            {% image result.specific.thumbnail fill-300x200 class="idk-mynd" %}
          {% endif %}
          {% with pennalisti=result.specific.pennar.all %}
          {% with n=pennalisti|length|add:"-1" %}
          <span>{{ result.specific.flokkur }} - {% for bleh in result.specific.pennar.all %}
            {{ bleh.title }}{% if n > forloop.counter %}, {% elif n == forloop.counter %} og {% else %}{% endif %}
          {% endfor %}
          </span>
          {% endwith %}{% endwith %}
          <h3>{{ result }}</h3>
          <p><em>{{ result.specific.dagsetning }}</em> &mdash; {{ result.specific.kynning }}</p>

          <a class="fullur-hlekkur" href="{% pageurl result %}"></a>
        </article>
        {% endfor %}

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        <p>Engar niðurstöður fundust.</p>
    {% endif %}
</article>
</main>
{% endblock %}
