{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<main>
  {% for grein in greinar %}
    <article class="grein">
        <a href="{% pageurl grein %}" class="titill">
      {% image grein.thumbnail fill-400x200 %}
      <h3>{{ grein.title }}</h3>
      <p>{{ grein.kynning }}</p>
      </a>
    </article>
  {% endfor %}
</main>
{% endblock %}
