{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<main>
  {% for grein in greinar %}
    {% if grein.brennidepill == True %}
      <article class="grein brennidepill">
        <a href="{% pageurl grein %}" class="titill">
          {% image grein.thumbnail fill-600x250 %}
        <h2>{{ grein.title }}</h2>
    {% else %}
      <article class="grein">
        <a href="{% pageurl grein %}" class="titill">
        {% image grein.thumbnail fill-400x200 %}
      <h3>{{ grein.title }}</h3>
    {% endif %}
    <p>{{ grein.kynning }}</p>
    </a>
    </article>
  {% endfor %}
</main>
{% endblock %}
