{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
  <main class="detail-main">
    <article class="detail-grein">
      <h2>{{ page.title }}</h2>
      {% include "stream.html" %}

      <h3>Greinar eftir {{ page.nafn }}</h3>
      <div class="greinar-container">
      {% for grein in greinar %}
      <div class="grein">
          <a href="{% pageurl grein %}">
        {% image grein.thumbnail fill-400x200 %}
        <h3>{{ grein.title }}</h3>
        <p>{{ grein.kynning }}</p>
        </a>
      </div>
      {% endfor %}
      </div>
    </article>
  </main>
{% endblock %}
