{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
<main class="detail-main">
  <article class="detail-grein">
    <h2>{{ page.title }}</h2>

    {% include "stream.html" %}

  </article>
</main>
{% endblock content %}

