{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<main>
  {% for page in pages %}
    <article class="grein">
        <a href="{% pageurl page %}" class="titill">
          {% if page.thumbnail %}
          {% image page.thumbnail fill-400x200 %}
          {% endif %}
      <h3>{{ page.title }}</h3>
      </a>
    </article>
  {% endfor %}
</main>
{% endblock %}

