{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <main class="detail-main">
    <article class="detail-grein">
      {% if request.GET.tag|length %}
          <h2>Síður merktar "{{ request.GET.tag }}"</h2>
      {% endif %}

      {% for grein in greinar %}
          <h3>
          <a href="{% pageurl grein %}" class="titill">{{ grein.title }}</a><br />
          </h3>
          <small>Endurskoðað: {{ grein.latest_revision_created_at }}</small><br />
          <p>Eftir <a href="{{ grein.penni.url }}">{{ grein.penni.nafn }}</a></p>
      {% empty %}
          Engar greinar fundust með þetta merki.
      {% endfor %}
    </article>
  </main>

{% endblock %}
