{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-404{% endblock %}

{% block content %}
<main>
  <article class="grein">
  <h2>404, síðan fannst ekki</h2>
  <img src="{% static 'assets/404.mp4' %}" alt="höh?">
  <h4>Þessi síða virðist ekki vera til</h4>
  <p>Kannski var henni eytt, kannski var hún aldrei til, kannski var hún færð eða kannski er stafsetningarvilla í léninu.</p>
  </article>
</main>
{% endblock %}
