{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="is" class="no-js"> <!--<![endif]-->
    <head>

      <link rel="icon" type="image/png" href="/static/assets/neistar32.ico">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta property="fb:app_id" content="1139315483124527" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
        </title>
        {% block social %}
        {% endblock %}
        {% block description %}
          {% if self.search_description %} <meta name="description" content="{{ self.search_description }}" /> {% endif %}
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/norm.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/neistar.min.css' %}" %>
        <link rel="stylesheet" id="lightcss" type="text/css" href="{% static 'css/light.min.css' %}" %>
        <link rel="stylesheet" id="darkcss" type="text/css" href="{% static 'css/dark.min.css' %}" disabled=""%>
        <script src="{% static 'js/settheme.min.js' %}"></script>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <script defer src="{% static 'js/menutoggle.min.js' %}"></script>
        <script defer src="{% static 'js/themetoggle.min.js' %}"></script>
        <style>@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');</style>

    </head>

    <body class="grid-wrapper {% block body_class %}{% endblock %}">
        <label style="bottom:0;left:0;width:10px;height:10px;position:fixed;" for="nic-cage-mode" title="Nic Cage mode"></label>
        <input type="checkbox" id="nic-cage-mode" name="nic-cage-mode" />
        {% include "header.html" %}

        {% block content %}{% endblock %}

        {% include "footer.html" %}

    </body>
</html>
