{% load static wagtailcore_tags menus_tags %}
<header id="haus">
  <div class="top-matter">
    <button id="menutoggle">≡</button>
    <a href="/">
      <h1>Neistar</h1>
      <img class="logo-mynd" src="{% static 'assets/neistar-logo.png' %}" alt="Hamar að berja glóandi heitt járn." width="78" height="66" />
    </a>
  </div>
  <nav id="haus-stika">
    <ul class="menu">
      {% get_menu "highlights" as stika %}
      {% for item in stika.valkostir.all %}
        <li><a class="menu-link-red" href="{{ item.link }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
<nav id="mainstika">
  <ul class="menu">
    {% get_menu "main" as stika %}
    {% for item in stika.valkostir.all %}
      <li><a href="{{ item.link }}">{{ item.title }}</a></li>
    {% endfor %}
    <li><button id="darklightmodebutton">Dark/Light mode</li></li>
    <li style="border:none;">
      <form class="leit" action="{% url 'search' %}" method="get">
        <input class="leitarinput" type="text" name="query" id="search" placeholder="Sláðu inn leitarorð..." value="{{ search_query }}"/>
        <button class="leitarhnappur" type="submit"></button>
      </form>
    </li>
  </ul>
</nav>
