{% load wagtailcore_tags wagtailimages_tags %}
<aside>
{% for grein in page.tengdar_greinar %}
    <article class="grein">
      <a href="{{ grein.url }}" class="titill">
      {% image grein.thumbnail fill-200x150 %}
      <h3>{{ grein.title }}</h3>
    </article>
{% endfor %}
</aside>
