{% load static wagtailcore_tags wagtailimages_tags %}
{% for block in page.efni %}
  {% if block.block_type == 'efnisgrein' %}
  {{ block }}
  {% elif block.block_type == 'inngangur' %}
  <em>{{ block }}</em>
  {% elif block.block_type == 'undirkafli' %}
  <h4>{{ block }}</h4>
  {% elif block.block_type == 'mynd' %}
  {% image block.value.mynd original as tmp_photo %}
  <figure class="{{ block.value.alignment }}">
    <img src="{{ tmp_photo.url }}" alt="{{ block.value.alt }}" width="{{ tmp_photo.width }}" height="{{ tmp_photo.height }}">
    <figcaption>{{ block.value.texti }}</figcaption>
  </figure>
  {% elif block.block_type == 'quote' %}
  <blockquote cite="{{ value.eftir }}">
    <p class="quote">„{{ block.value.quote }}“</p>
    {% if block.value.eftir %}
    <p class="attr">- {{ block.value.eftir }}</p>
    {% endif %}
  </blockquote>
  {% endif %}
{% endfor %}
