{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block content %}
<html>
    <head>
        <title>{{ page.title }}</title>
    </head>
    <body>
      <main role="main">
        <article class="grein">
          <h2>{{ page.title }}</h2>
          {{ page.intro|richtext }}
          <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            <div class="form-wrapper">
            {% for bleh in form %}
              {{ bleh.label }}: 
            {{ bleh }}
            {% endfor %}
            </div>
          <input value="Skrá" type="submit">
        </form>
      </article>
    </main>
  </body>
</html>
{% endblock %}
