{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<html>
    <head>
        <title>{{ page.title }}</title>
    </head>
    <body>
      <main role="main">
        <article class="grein">
        <h2>{{ page.title }}</h2>
        {{ page.intro|richtext }}
        <p>Takk fyrir skráninguna</p>
        </article>
      </main>
    </body>
</html>
{% endblock %}
