{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<main role="main" class="helluvefja">
  {% for grein in greinar %}
    {% if grein.brennidepill == True %}
      <article class="hella brennidepill">
          {% image grein.thumbnail fill-600x250 %}
        <h2>{{ grein.title }}</h2>
    {% else %}
      <article class="hella">
        {% image grein.thumbnail fill-400x200 %}
      <h3>{{ grein.title }}</h3>
    {% endif %}
    <p>{{ grein.kynning }}</p>
    <a class="fullur-hlekkur" href={% pageurl grein %}></a>
    </article>
  {% endfor %}
</main>
{% endblock %}
