{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block description %}
  <meta name="description" content="{{ page.kynning }}">
{% endblock %}
{% block social %}
{% image page.thumbnail fill-1200x630 as tmp_photo %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.kynning }}">
<meta property="og:url" content="https://neistar.is{{ page.url }}">
<meta property="og:image" content="https://neistar.is{{ tmp_photo.url }}">
<meta property="og:type" content="article">
<meta name="twitter:card" content="summary_large_image">
<!-- meta name="twitter:site" content="@neistarvefrit" -->
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.kynning }}">
<meta name="twitter:image" content="https://neistar.is{{ tmp_photo.url }}">
{% endblock %}
{% block content %}
<main role="main">
  <article class="grein">
    <h2>{{ page.title }}</h2>
    <p class="info">
    {{ page.dagsetning }} &mdash;
    {% with pennalisti=page.pennar.all %}
    {% with n=pennalisti|length|add:"-1" %}
    {% for penni in pennalisti %}
    <a href="{{ penni.url }}">{{ penni.title }}</a>{% if n > forloop.counter %}, {% elif n == forloop.counter %} og {% else %}{% endif %}{% endfor %}</p>
    {% endwith %}{% endwith %}

    {% include "stream.html" %}

    <div class="social">
      <h4 class="soc-heading">Deila</h4>
      <a class="soc-icon" href="https://facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
        <svg width="32" height="32" viewBox="-2 -2 32 32"><path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path></svg>
      </a>
      <a class="soc-icon" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ request.build_absolute_uri }}&CMP=share_btn_tw" target="_blank">
        <svg width="32" height="32" viewBox="-2 -2 32 32"><path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path></svg>
      </a>
    </div>
    {% if page.merki.all.count %}
        <div class="tags">
        <h4 class="bottom-margin">Merki</h4>
        {% for merki in page.merki.all %}
            <a href="/merki/?merki={{ merki }}"><button class="merki" type="button">{{ merki }}</button></a>
        {% endfor %}
        </div>
    {% endif %}
  </article>
</main>
<aside>
  <div class="sidebar">
  {% for grein in page.tengdar_greinar.all %}
    <article class="hella">
      {% image grein.tengd_grein.thumbnail fill-300x150 %}
      <h3>{{ grein.tengd_grein.title }}</h3>
      <p>{{ grein.tengd_grein.kynning }}</p>
      <a class="fullur-hlekkur" href={% pageurl grein.tengd_grein %}></a>
    </article>
  {% endfor %}
  </div>
</aside>
{% endblock %}
