{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <main role="main">
    <article class="grein">
      {% if request.GET.merki|length %}
          <h2>Síður merktar "{{ request.GET.merki }}"</h2>
      {% endif %}

      {% for grein in greinar %}
          <h3>
          <a href="{% pageurl grein %}" class="titill">{{ grein.title }}</a>
          </h3>
          <small>Endurskoðað: {{ grein.latest_revision_created_at }}</small>
          <!--<p>Eftir <a href="{{ grein.penni.url }}">{{ grein.penni.nafn }}</a></p> -->
      {% empty %}
          Engar greinar fundust með þetta merki.
      {% endfor %}
    </article>
  </main>

{% endblock %}
