{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<main role="main">
  <article class="grein">
  {% for penni in pennar %}
    <article class="result">
        
      <a href="{% pageurl penni %}" class="titill">
      {% if penni.mynd %}
        {% image penni.mynd fill-120x150 class="idk-mynd" style="width:120px;"%}
      {% endif %}
        <h3>{{ penni.title }}</h3>
      </a>
      <a style="padding-top:0.5rem;position:absolute;" href="mailto:{{ penni.email }}">{{ penni.email }}</a>
    </article>
  {% endfor %}
  </article>
</main>
{% endblock %}
