{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
  <main role="main">
    <article class="grein">
    {% image page.mynd fill-240x300 class="idk-mynd" %}
    <h2 style="margin-bottom:0.5rem;">{{ page.title }}</h2>
    {% if page.contact_info %}
    <address>
    {% if page|site_by_name:"EMAIL" %}
    {% with page|site_by_name:"EMAIL" as email %}
    <p>✉️</p> <a href="mailto:{{ email.handle }}">{{ email.handle }}</a>
    {% endwith %}
    {% endif %}
    {% if page|site_by_name:"MASTODON" %}
    {% with page|site_by_name:"MASTODON"|parse_mastodon as masto %}
    <p><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 230 230">
    <path fill="#c00" d="M211.80734 139.0875c-3.18125 16.36625-28.4925 34.2775-57.5625 37.74875-15.15875 1.80875-30.08375 3.47125-45.99875 2.74125-26.0275-1.1925-46.565-6.2125-46.565-6.2125 0 2.53375.15625 4.94625.46875 7.2025 3.38375 25.68625 25.47 27.225 46.39125 27.9425 21.11625.7225 39.91875-5.20625 39.91875-5.20625l.8675 19.09s-14.77 7.93125-41.08125 9.39c-14.50875.7975-32.52375-.365-53.50625-5.91875C9.23234 213.82 1.40609 165.31125.20859 116.09125c-.365-14.61375-.14-28.39375-.14-39.91875 0-50.33 32.97625-65.0825 32.97625-65.0825C49.67234 3.45375 78.20359.2425 107.86484 0h.72875c29.66125.2425 58.21125 3.45375 74.8375 11.09 0 0 32.975 14.7525 32.975 65.0825 0 0 .41375 37.13375-4.59875 62.915"/>
    <path fill="#fff" d="M177.50984 80.077v60.94125h-24.14375v-59.15c0-12.46875-5.24625-18.7975-15.74-18.7975-11.6025 0-17.4175 7.5075-17.4175 22.3525v32.37625H96.20734V85.42325c0-14.845-5.81625-22.3525-17.41875-22.3525-10.49375 0-15.74 6.32875-15.74 18.7975v59.15H38.90484V80.077c0-12.455 3.17125-22.3525 9.54125-29.675 6.56875-7.3225 15.17125-11.07625 25.85-11.07625 12.355 0 21.71125 4.74875 27.8975 14.2475l6.01375 10.08125 6.015-10.08125c6.185-9.49875 15.54125-14.2475 27.8975-14.2475 10.6775 0 19.28 3.75375 25.85 11.07625 6.36875 7.3225 9.54 17.22 9.54 29.675"/>
  </svg></p>
  <a href="https://{{ masto.1 }}/@{{ masto.0 }}">
  @{{ masto.0 }}
  </a>
    {% endwith %}
    {% if page|site_by_name:"TWITTER" %}
    {% with page|site_by_name:"TWITTER" as twitter %}
    <p><svg width="20" height="20" viewBox="0 0 25 25" fill="#c00"><path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path></svg>
    </p>
    <a href="https://twitter.com/{{ twitter.handle }}">
        @{{ twitter.handle }}
    </a>
    {% endwith %}
    {% endif %}
    {% if page|site_by_name:"FB" %}
    {% with page|site_by_name:"FB" as fb %}
      <p><svg height="20" width="20" viewBox="0 0 25 25" style="fill:#c00;"><path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path></svg></p>
      <a href="https://facebook.com/{{ fb.handle }}">{{ fb.handle }}</a>
    {% endwith %}
    {% endif %}
    {% endif %}
    </address>
    {% endif %}
    {% include "stream.html" %}

    <h3 style="clear:both;">Greinar eftir {{ page.nafn }}:</h3>
    {% for grein in greinar %}
      <article class="result">
        {% if grein.thumbnail %}
          {% image grein.thumbnail fill-300x200 class="idk-mynd" %}
        {% endif %}
        <span>{{ grein.flokkur }}</span>
        <h3>{{ grein.title }}</h3>
        <p><em>{{ grein.dagsetning }}</em> &mdash; {{ grein.kynning }}</p>
        <a class="fullur-hlekkur" href="{% pageurl grein %}"></a>
      </article>
    {% endfor %}
    </article>
  </main>
{% endblock %}
